.contact_container{
    width: 100%;
    margin-bottom: 2rem;
}

.contact{
    /* width: 1200px; */
    margin-right: auto;
    margin-left: auto;
    height: auto;
    padding: 0 2rem;
}

.contact_form{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.input_field{
    width: 500px;
    height: 80px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    font-size: 20px;
    transition: all .3s linear;
}

.input_field:focus{
    border-bottom: 1px solid rgb(86, 37, 1);
    transition: all .3s linear;
}

.text_field{
    width: 600px;
    height: 200px;
    margin-left: auto;
    margin-right: auto; 
    /* border: none; */
    border: 1px solid #e5e5e5;
}

.subject{
    margin-bottom: 1rem;
}