.header{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1rem 0;
}

.navigation{
    position: relative;
    width: 700px;
    display: flex;
    justify-content: space-between;
    right: 1px;
    padding-right: 2rem;
}

.link{
    text-decoration: none;
    color: #e5e5e5;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
    text-underline-offset: .5rem;
}