.main-container{
    height: 100vh;
    display: flex;
    padding: 5rem;
}

.main-container::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
    z-index: -1;
}

.main-container video{
    position: absolute;
    z-index: -5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container{
    width: 540px;
    margin-left: 10rem;
}

.title-name{
    width: 22ch;
    color: #e5e5e5;
    font-size: 42px;
    white-space: nowrap;
    font-family: 'Roboto Mono', monospace;
    font-weight: normal;
    overflow: hidden;
    border-right: 4px solid #fff;
    animation: flashing_line .5s step-end infinite, type_text 5s steps(22) infinite;
}

.title-frontend{
    color: #e5e5e5;
    font-size: 14px;
    font-weight: normal;
}

@keyframes flashing_line{
    0%{
        border-color: #fff;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: #fff;
    }
}

@keyframes type_text{
    from{
        width: 0;
    }
}

.see-more-btn{
    position: absolute;
    border: 2px solid #e5e5e5;
    width: 160px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
    bottom: 5rem;
    font-size: 24px;
    color: #fff;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: all .3s linear;
}

.see-more-btn:hover{
    background: #e5e5e5;
    color: #000;
    transition: all .3s linear;
}

/* .main-btn{
    font-size: 24px;
    color: #fff;
} */

/* .main-btn:hover{
    color: #000;
} */